:root {
    --primario: #9C27B0;
    --primarioOscuro: #89119D;
    --secundario: #FFCE00;
    --blanco: #fff;

    --fuentePrincipal: 'Staatliches', cursive;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Globales */
body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}
p {
    font-size: 4rem;
    color: var(--blanco);
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
}
a {
    text-decoration: none;
}
h1 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
    font-size: 6.4rem;
}

#map {
    display: flex;
    width: 130rem;
    height: 50rem;
    margin: 0 auto;
    border-radius: 2rem;
}

/* Bloques */
.bloques {
    display: flex;
    margin: 2rem auto ;
    background-color: var(--primarioOscuro);
    padding: 1rem;
    width: 28rem;
    height: 10rem;
    border-radius: 5rem;
    justify-content: center;
    align-content: center;
}